

.mr-sm-2{
  margin-left: 100px;
}
.fa-cart-arrow-down{
  margin-left: 50px;

  
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #f7f7f7;
}
.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px;
}

/*
headeer top
*/
.topbar{
  background-color: #212529;
  padding: 0;
}

.topbar .container .row {
  margin:-7px;
  padding:0;
}

.topbar .container .row .col-md-12 { 
  padding:0;
}

.topbar p{
  margin:0;
  display:inline-block;
  font-size: 13px;
  color: #f1f6ff;
}

.topbar p > i{
  margin-right:5px;
}
.topbar p:last-child{
  text-align:right;
} 

header .navbar {
    margin-bottom: 0;
}

.topbar li.topbar {
    display: inline;
    padding-right: 18px;
    line-height: 52px;
    transition: all .3s linear;
}

.topbar li.topbar:hover {
    color: #1bbde8;
}

.topbar ul.info i {
    color: #131313;
    font-style: normal;
    margin-right: 8px;
    display: inline-block;
    position: relative;
    top: 4px;
}

.topbar ul.info li {
    float: right;
    padding-left: 30px;
    color: #ffffff;
    font-size: 13px;
    line-height: 44px;
}

.topbar ul.info i span {
    color: #aaa;
    font-size: 13px;
    font-weight: 400;
    line-height: 50px;
    padding-left: 18px;
}

ul.social-network {
  border:none;
  margin:0;
  padding:0;
  margin-left: 50%;
}

ul.social-network li {
  border:none;  
  margin:0;
}

ul.social-network li i {
  margin:0;
}

ul.social-network li {
    display:inline;
    margin: 0 5px;
    border: 0px solid #2D2D2D;
    padding: 5px 0 0;
    width: 32px;
    display: inline-block;
    text-align: center;
    height: 32px;
    vertical-align: baseline;
    color: #000;
}

ul.social-network {
  list-style: none;
  margin: 5px 0 10px -25px;
  float: right;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: .3s ease-out;
    color: #fff;
}
a {
  color: #0a0a0a;
  text-decoration: none;
}

li {
    list-style-type: none;
}
.bg-image-full {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.bg-dark {
    background-color: #222!important;
}

.mx-background-top-linear {
    background: -webkit-linear-gradient(45deg, #54d400 48%, #1b1e21 48%);
    background: -webkit-linear-gradient(left, #54d400 48%, #1b1e21 48%);
    background: linear-gradient(45deg, #54d400 48%, #1b1e21 48%);
}


/*pate de fotos*/

/*
 * 1. core styles
 */

.teamy{
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.teamy__layout{
    position: relative;
}

.teamy__preview{
    position: relative;
    overflow: hidden;
}

.teamy__avatar{
    display: block;
    max-width: 100%;
    position: relative;
    z-index: 1;
}

.teamy__preview:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
}

.teamy__back{
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    opacity: 0;
    will-change: opacity;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.teamy:hover .teamy__back{
  opacity: 1;
  height: 100%;
  transition: opacity .4s cubic-bezier(0.71, 0.05, 0.29, 0.9) .2s;
}

.teamy__name{
    margin-top: 0;
    margin-bottom: 0;
}

.teamy__post{
    display: block;
}

/*
 * 2. visual styles
 */

/* common styles for visual styles */

 .teamy__back{
     padding-left: 10px;
     padding-right: 10px;
     text-align: center;
 }

.teamy__content{
     padding: 20px;
}

.teamy__name{
    font-size: 1.3em;
}

.teamy__post{
    margin-top: .5em;
    font-size: .8em;
    text-transform: uppercase;
}

/* style 1 */

.teamy_style1{
    text-align: center;
}

/* style 2 */

.teamy_style2 .teamy__content{
    width: 100%;
    box-sizing: border-box;

    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 4;
}

.teamy_style2 .teamy__name{
    font-weight: 400;
}

/* style 2 */

.teamy_style3 .teamy__name{
    font-size: 2em;
}

/*
 * 3. masks
 */

/* mask circle */

.teamy_mask-circle .teamy__preview:before{
    width: 0;
    height: 0;
    padding: 25%;
    border-radius: 50%;

    transition: transform .3s ease, opacity .3s ease-out;
    will-change: opacity, transform;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
}

.teamy_mask-circle:hover .teamy__preview:before{
    opacity: 1;
    transform: translate(-50%, -50%) scale(4);
    transition-duration: .6s;
}

/* mask triangle */

.teamy_mask-triangle .teamy__preview:before{
    width: 100%;
    height: 100%;
    opacity: 0;

    -webkit-clip-path: polygon(50% 10%, 15% 90%, 85% 90%);
    clip-path: polygon(50% 10%, 15% 90%, 85% 90%);

    transition-property: transform, opacity;
    transition-duration: .2s, .4s;
    transition-delay: .4s, 0s;
    transition-timing-function: ease-out;

    will-change: transform, opacity;
    transform: translate(-50%, -50%) scale(1);
}

.teamy_mask-triangle:hover .teamy__preview:before{
    opacity: 1;
    transform: translate(-50%, -50%) scale(5);
    transition-delay: .1s, 0s;
    transition-duration: .4s;
}

/*
 * 4. animations for preview
 */

/* zoom */

.teamy_zoom-photo .teamy__avatar{
    transition: transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: transform;
    transform: scale(1);
}

.teamy_zoom-photo:hover .teamy__avatar{
    transform: scale(1.2);
}

/* zoom and rotate */

.teamy_zoom-rotate-photo .teamy__avatar{
    transition: transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: transform;
    transform: scale(1) rotate(0);
}

.teamy_zoom-rotate-photo:hover .teamy__avatar{
    transform: scale(1.2) rotate(5deg);
}

/* zoom and slide */

.teamy_zoom-slide-photo .teamy__avatar{
    transition: transform .4s cubic-bezier(0.71, 0.05, 0.29, 0.9);
    will-change: transform;
    transform: scale(1) translate(0, 0);
}

.teamy_zoom-slide-photo:hover .teamy__avatar{
    transform: scale(1.2) translate(4%, 4%);
}

/*
 * 5. default skin
 */

.teamy__preview:before{
    background-color: rgba(72, 27, 174, .7);
}

.teamy_style2, .teamy_style3{
    color: #fff;
}

.teamy_style2 .teamy__content{
    background-color: rgba(72, 27, 174, .85);
}


/*
* demo page
*/

@media screen and (min-width: 768px){

  html{
    font-size: 62.5%;
  }
}

@media screen and (max-width: 767px){

  html{
    font-size: 50%;
  }
}

body{
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
  font-size: 1.6rem;
  color: #222;
  
  margin: 0;
  -webkit-overflow-scrolling: touch;   
  overflow-y: scroll;
}

:root{
    --colorBlack: #222;
    --colorWhite: #fff;
    --colorGray: #f0f0f0;

    --colorAlternative: #a03549;
    --colorAlternativeDark: #650813;
}

.title{
    margin-top: 0;
    margin-bottom: 0;
}

.page{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.page__demo{
  flex-grow: 1;
}

.footer{
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;  
  font-size: 1.4rem;
  background-color: #000;
  border-top:5px solid #0f0;
}
.footer2{
  background-color: #0f0;
}
.footer__link{
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 361px){

  .footer__container{
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 360px){

  .melnik909{
    display: none;
  } 
}

/* layout */

.main-container{
    max-width: 1400px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.section:nth-of-type(even){
	background-color: var(--colorGray);
}

.section__header{
	position: relative;
	padding-bottom: 2rem;
	text-align: center;
	text-transform: uppercase;
}

.section__header:before{
	content: "";
	width: 5rem;
	height: 3px;
	background-color: var(--colorAlternative);

	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.section__title{
	font-size: 2.8rem;
}

.section__hint{
	font-size: 1.4rem;
	display: block;
	margin-top: 1rem;
}

.section__content{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

@media screen and (min-width: 641px){

	.section{
		padding-top: 8rem;
		padding-bottom: 8rem;
	}

	.section__header{
		margin-bottom: 6rem;
	}

	.section__content{
		justify-content: center;
	}
}

@media screen and (max-width: 640px){

	.section{
		padding-top: 4rem;
		padding-bottom: 4rem;
	}

	.section__header{
		margin-bottom: 3rem;
	}
}

/* options */ 

.radio{
    position: absolute;
    left: -9999px;
}

.preview-options{
    padding-top: 2rem;
}

.preview-options__container{
    display: flex;
    justify-content: center;
}

.preview-options__param{
    display: inline-block;
    cursor: pointer;
}

.preview-options__param:not(:last-child){
    margin-right: 1.5rem;
}

.preview-options__color:before{
    content: "";
    width: 3.2rem;
    height: 3.2rem;
    display: block;
    border-radius: 50%;
}

.preview-options__color:after{
    content: "";
    width: 75%;
    height: 3px;
    display: block;
    margin: 1rem auto 0;
}

.preview-options__color_black:before,
#black:checked ~ .preview-options .preview-options__color_black:after{
    background-color: rgba(0, 0, 0, 1);
}

.preview-options__color_purple:before,
#purple:checked ~ .preview-options .preview-options__color_purple:after{
    background-color: rgba(72, 27, 174, 1);
}

.preview-options__color_blue:before,
#blue:checked ~ .preview-options .preview-options__color_blue:after{
    background-color: rgba(80, 126, 209, 1);
}

.preview-options__color_green:before,
#green:checked ~ .preview-options .preview-options__color_green:after{
    background-color: rgba(27, 188, 155, 1);
}

.preview-options__color_red:before,
#red:checked ~ .preview-options .preview-options__color_red:after{
    background-color: rgba(160, 53, 73, 1);
}

#black:checked ~ .section .teamy{
    --demoColorMask: rgba(0, 0, 0, .7);
    --demoColorContent: rgba(0, 0, 0, .85);
    --demoColorIcon: rgba(0, 0, 0, 1);
}

#blue:checked ~ .section .teamy{
    --demoColorMask: rgba(80, 126, 209, .7);
    --demoColorContent: rgba(80, 126, 209, .85);
    --demoColorIcon: rgba(80, 126, 209, 1);
}

#green:checked ~ .section .teamy{
    --demoColorMask: rgba(42, 155, 132, .7);
    --demoColorContent: rgba(42, 155, 132, .85);
    --demoColorIcon: rgba(42, 155, 132, 1);
}

#red:checked ~ .section .teamy{
    --demoColorMask: rgba(160, 53, 73, .7);
    --demoColorContent: rgba(160, 53, 73, .85);
    --demoColorIcon: rgba(160, 53, 73, 1);
}

/* demo params */

.teamy__preview:before{
    background-color: var(--demoColorMask, rgba(72, 27, 174, .7));
}

.teamy_style2 .teamy__content{
    background-color: var(--demoColorContent, rgba(72, 27, 174, .85));
}

/* social buttons */

.social{
    box-sizing: border-box;
    width: 42px;
    height: 42px;
    padding: 10px;

    background-color: #fff;
    border-radius: 100%;

    margin: 5px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.social__icon{
    width: 100%;
    height: 100%;
    fill: rgba(72, 27, 174, 1);
    fill: var(--demoColorIcon, rgba(72, 27, 174, 1));  
}

.social__name{
    position: absolute;
    left: -9999px;
}

@media screen and (max-width: 640px){

    .preview-options{
        padding-bottom: 2rem;
        border-bottom: 1px solid var(--colorGray);
    }
}

@media screen and (min-width: 641px){

    .preview-options{
        background-color: var(--colorGray);
    }
}

/* grid */

.teamy-team{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (min-width: 849px){

     .teamy{
         width: 25%;
     }
}

@media screen and (min-width: 425px) and (max-width: 848px){

     .teamy{
         width: 50%;
     }
}

@media screen and (max-width: 424px){

     .teamy{
         width: 100%;
     }

     .teamy:not(:first-child){
         margin-top: 3rem;
     }
}




/* Start section Fotrer */
 
#fot{
    margin-top: 2350px;

}

.footer-wrap {
    background: url(http://hassandesigns.top/html/classified/images/footer-bg.jpg) no-repeat top;
    padding-top: 30px;
    background-size: cover;
}

.footer-wrap h3 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.footer-wrap p {
    font-size: 14px;
    line-height: 24px;
    color: #b3b3b3;
    margin-top: 15px;
}

.footer-wrap p a {
    color: #fff;
    text-decoration: underline;
    font-style: italic;
}

.footer-wrap p a:hover {
    text-decoration: none;
    color: #ff7800;
}

.footer-links li a {
    font-size: 14px;
    line-height: 26px;
    color: #b3b3b3;
    text-decoration: none;
}


.footer-links li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: #b3b3b3;
}

.footer-category li a {
    font-size: 14px;
    line-height: 26px;
    color: #b3b3b3;
    text-decoration: none;
}

.footer-category li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: #b3b3b3;
}

.address {
    
    color: #b3b3b3;
    font-size: 14px;
    position: relative;
    padding-left: 30px;
    line-height: 30px;
}

.address:before {
    content: "\f277";
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: 0;
}

.info a {
 
    color: #b3b3b3;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
}

.fa-phone:before {
    content: "\f095";
}

.info a {

    color: #b3b3b3;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
}

.fa-fax:before {
    content: "\f1ac";
}

.copyright {
    border-top: 1px solid #5f5f5f;
    font-size: 14px;
    color: #b3b3b3;
    margin-top: 25px;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}

/* End section Fotrer */





/*paginas*/

/* Custom Style-sheet for Grafreez bootstrap wireframes */

section {
    float: left;
    padding: 30px 0;
    width: 100%;
}
.card-block {
    padding: 0.5rem 1.25rem;
}
i {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}
.card-title {
    margin-bottom: 7px;
}
.card {
    margin: 15px 0;
}
.card img {
    height: 150px;
    width: 190px;
}
.rating {
    float: left;
    margin-bottom: 20px;
    padding: 0 24%;
    text-align: center;
    width: 100%;
}
.rating i {
    float: left;
    font-size: 20px;
    margin: 0 3px 0 0;
    width: auto;
}
.card .price {
    font-weight: bold;
    font-size: 20px
}
.card .btn {
    margin-bottom: 20px;
}
.product-block {
    float: left;
    width: 100%;
    padding: 30px 0;
    background-color: #fff;
}
.side-product {
    float: left;
    width: 100%;
    margin: 10px 0
}
.side-product .media {
    margin-top: 15px;
}
.side-product h5 {
    margin-bottom: 20px;
}


.carousel {
    float: left;
    width: 100%;
    height: 50vh;
    background: #ccc;
}
.carousel-inner > .carousel-item {
    padding: 25vh 80px;
    width: 100%;
    padding: 0px 0;
}
.cta-bg {
    background: #563D7C;
    color: #fff;
}
.cta-bg .btn {
    margin-top: 30px;
}





/*Topo*/

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #2E9AFE; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #0101DF; /* Add a dark-grey background on hover */
}


/*produtos*/

/* Padding - just for asthetics on Bootsnipp.com */
body { margin-top:20px; }

/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}
